<!DOCTYPE html>
<html ng-app="AngularOktato">
<head>
	<title>Angular</title>
	<meta charset="utf-8">
	<script src="angular_js/angular.min.js" type="text/javascript"></script>
	<script src="angular_js/app.js" type="text/javascript"></script>
	<script src="maincontroller.js" type="text/javascript"></script>
</head>
<body>

  <div ng-controller="MainController">
  	
  	<h2>Automatikusan generált legördülő listák összekapcsolása</h2><br>

      <b>Név:</b> <select ng-model="valasztottEmber" ng-options="ember.nev for ember in emberek"></select>  

      &nbsp;&nbsp;

      <b>kedencek: </b>
        <select ng-model="valasztottKedvenc">
        <option ng-repeat="kedvenc in valasztottEmber.kedvencek">{{kedvenc}}</option>
      </select> 

  </div>

</body>
</html>